@charset "UTF-8"


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    vertical-align: top;
    width: 100%;
}

body{
    margin: 0;
    
    font-family: "Paperlogy", "Noto Sans KR", sans-serif;
    color: #fff;
    overflow-x: hidden;
    background-color: #000;
}

.cl::after {
    content: "";
    display: block;
    clear: both;
}

.fl{
    float: left;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    /* height: 100vh 대신 고정 높이를 JS가 제어하도록 설정 */
    /* overflow: hidden !important; */
    /* position: fixed;  */
	-ms-overflow-style: none; /* IE, Edge */
	scrollbar-width: none;    /* Firefox */
}
    .wrap {
      position: relative;
      top: 0;
      width: 1920px;
      height: 4117px;
      transition: 0.5s;
    }

    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* flex 로 정렬시키고 싶은 요소가 있으면 해당 요소의 부모 요소에 flex 걸기 */
    }

/* 태블릿 (768px 이하) */
@media (max-width: 768px) {
  .wrap {
      width : 768px;
      height : 1080px;
      background-size: 768px; 
   }
}



/*header--------------------------------*/
#headerWrap{
	width: 100%;
	height: 63px;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
}
header{
    width: 1920px;
    height: 63px;
    top: 0;
    left: 0;
    margin: 0 auto;
    
    display: flex;
}



header .logo{
    width: 327px;
    height: 27px;
    margin: 20px 20px;
}

header nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    align-items: center;

}

header nav ul{
    display: flex;
    margin: 20px 20px;
    float: right;
}

header nav ul li a{
    color: #fff;
    margin-right: 20px;
    font: 20px "Paperlogy";
}

header nav ul li a:hover{
    color: gray;
    text-decoration: underline;
}

/*end of header----------------------*/



/* body end */

/*main--------------------------------*/

#mainWrap{
	width: 100%;
	height : 965px;
    background-color: #000;
}


main{
    width: 1920px;
    height: 965px;
	margin: 0 auto;
    overflow: hidden;
    position: relative;
}

/*slider------------------------*/

/* 기본 배경 및 슬라이더 설정은 이전과 동일 */
.slider-container {
    position: relative;
    width: 1920px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.slider-wrapper {
  display: flex; /* 슬라이드들을 가로로 한 줄 정렬 */
    width: 100%;
    height: 965px;
    transition: transform 0.5s ease-in-out; /* 부드러운 전환 */
    will-change: transform; /* 성능 최적화 */
}

.slide {
flex: 0 0 100%; 
    width: 100%;
    height: 100%;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 이미지 버튼 커스텀 */

.slider-container .arrow {
    position: absolute;
    top: 514px;           /* 컨테이너 높이의 딱 중간 */
    transform: translateY(-50%); /* 정확한 수직 중앙 정렬 */
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 999;       /* 어떤 요소보다도 위에 오도록 설정 */
    padding: 10px;      /* 클릭 영역 확보 */
}

.slider-container .arrow img {
    width: 40px;  /* 화살표 이미지 크기 조절 */
    height: 63px;
    /* 만약 검정 화살표를 흰색으로 바꾸고 싶다면 아래 필터 사용 (선택사항) */
    /* filter: brightness(0) invert(1); */
}

.arrow img {
    opacity: 0.7;
}

/* 마우스 올렸을 때 살짝 커지거나 투명도 조절 */
.arrow:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.prev { left: 137px; }
.next { right: 137px; }

/*end of slider------------------------*/

main .title {
	
    position: absolute;
    top:105px;
    left:349px;
}
main .title a{
    font-size: 85px;
    color: #fff;
    font-weight: bold;
    line-height: 95px;
    letter-spacing: 3px;
}

main p{
    text-align: right;
    position: absolute;
    top:765px;
    left:595px;
    font-size: 20px;
    line-height: 30px;
}

main p span{
    font-size: 25px;
    font-weight: 600;
}

main .introduce{
    width:595px;
    height: 771px;
    position: absolute;
    top: 105px;
    left: 971px;
    box-sizing: border-box;
    overflow: hidden;
    transition: opacity 0.5s ease; /* 전환 시 부드러운 효과 */
}

main .introduce .intro-container{
    width: 400%;
    height: 100%;
    transition: 1s;
}

main .introduce .intro-container .textileimage{
    position: relative;
    top:0;
    left:0;
    width: 595px;
    height: 771px;
}

.introduce a{
position: relative;
    top:-690px;
    left:442px;
}


main .introduce .arrow{
    width: 109px;
    height: 109px;
    opacity: 0.7;
}

main .introduce .arrow img{
    width: 109px;
    height: 109px;
}

main .introduce .arrow:hover{
    opacity: 1;
}


.introduce .eclipse-container {
    position: absolute;
    top: 728px;
    margin-left:50%;
    transform: translateX(-50%);
}

.introduce .eclipse-container .circle{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #7a7875;
    border: 1px solid #000;
    margin-left: 10px;
}
/* 7a7875 */

.introduce .eclipse-container .circle:hover{
    
}

.introduce .eclipse-container .circle.click{
    width: 20px;
        background-color: #d5d6d4;
        transition : 0.6s;
}




/* 전환 시 클래스를 이용한 페이드 효과 */
/* .fade-out {
    opacity: 0;
} */

/*end of main-------------------------*/


/*section- gallery---------------------*/

section {
    width: 100%;
    height: 1800px;
    background-color: #000;
}

section .galleryWrap{
    width: 100%;
    height: 900px;
    background-color: #000;
    
}

section .gallery{
    width: 1920px;
    height: 900px;
	margin: 0 auto;
    background-image: url(../images/gallery_background.png);
	position: relative;
}

section .gallery .img{
    width: 320px;
    height: 211px;
}

section .gallery .s1{
    position: absolute;
    top: 111px;
    left: 360px;
}

section .gallery .s2{
    position: absolute;
    top:111px;
    left:1252px;
}

section .gallery .s3{
    position: absolute;
    top:475px;
    left:360px;
}

section .gallery .s4{
    position: absolute;
    top:475px;
    left:1252px;
}

section .gallery .part a{
    color: #fff;
    font-size: 30px;
}

section .gallery .part a:hover{
    text-decoration: underline;
}

section .gallery .part .connector{
    width: 22px;
    height: 21px;
    position: relative;
    top: -43px;
    left: 300px
}



/*end of gallery-----------------------*/

/*section- highlights---------------------*/

section #highWrap{
    width: 100%;
    height: 900px;
    background: #000;
}

section .highlights{
    width: 1920px;
    height: 900px;
    background-image: url(../images/highlights_background_2.png);
	margin: 0 auto;
    overflow: hidden;
    position: relative;
}

section .highlights #highImgWrap{
    width: 2600px;
	height: 539px;
    display: flex;
    align-items: flex-end;
    margin-top:272px;
}

section .highlights .highimgs{
    width: 2600px;
    display: flex;
    align-items: flex-end;
	margin-left: -185px;
}

section .highlights .highimgs .nonselect{ 
    width: 155px;
    height: 245px;
    margin-left: 30px;
    position: relative;
	transition: 0.5s ease;
	transform-origin: bottom center;
}

section .highlights .highimgs .nonselect img{
    width: 155px;
    height: 245px;
}

/* 1. 기본 상태: select가 '없는' nonselect 이미지만 어둡게 */
section .highlights .highimgs .nonselect:not(.select) img {
    filter: brightness(0.5); /* 50% 어둡게 */
    
}

/* 2. 호버 상태: 마우스를 올리면 밝게 */
section .highlights .highimgs .nonselect:not(.select):hover img {
    filter: brightness(1);
}
/* 3. 선택 상태: select 클래스가 붙은 이미지는 무조건 밝게 (우선순위 높임) */
section .highlights .highimgs .select img {
    filter: brightness(1) !important; /* !important로 확실하게 고정 */
}

section .highlights .highimgs .nonselect p{
    margin: 0;
    position: absolute;
    text-align: center;
    width: 145px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 정확히 정중앙 정렬 */
    z-index: 10;
}


/* 2. 호버 상태: 마우스를 올리면 텍스트 없어짐 */
section .highlights .highimgs .nonselect:not(.select):hover p {
    opacity: 0;
    transition: opacity 0.3s ease;
}


section .highlights .highimgs .select{
	margin : 0 93px 0 123px;
	transform: scale(2.2);
}

section .highlights .highimgs .select img{
   /* width: 351px; */
   /* height: 553px; */
}

section .highlights .highimgs .nonselect.select p {
    opacity: 0;
    visibility: hidden;
}


section .highlights .arrow img{
    width: 107px;
    height: 107px;
    z-index: 3;
    position: absolute;
    top:50%;
    transform: translateY(-50%);    
}

section .highlights .arrow .prev{
    left :345px;
    opacity: 0.7;
}

section .highlights .arrow .next{
    right :345px;
    opacity: 0.7;
}

section .highlights .arrow .prev:hover{
    opacity: 1;
}

section .highlights .arrow .next:hover{
    opacity: 1;
}

section .highlights #hightextWrap{
	position: absolute;
	display:flex;
	width: 500px;
    height: 285px;
    top: 270px;
    left: 965px;
    overflow: hidden;
	transition: transform 0.5s ease-in-out; /* 애니메이션 속도 */
}

section .highlights .hightext{
    height: 285px;
    border-color: #7a7875;
	display:flex;
	margin-left : -1500px;
}
section .highlights .hightext .text{
	/* display: none; */
    padding: 0;
    width: 500px;
    height: 285px;
	top: 0px;
}

section .highlights .hightext .text.focus{
	display: block;
}

section .highlights .hightext .text a{
    color: #fff;
}

section .highlights .hightext h4{
    font-size: 45px;
    font-family: "Noto Sans KR", "Paperlogy";
    margin: 0;
    padding: 0;
    font-weight: normal;
    width: 527px;
}

section .highlights .hightext h3{
    font: 50px "Noto Sans KR";
    font-weight: 200;
    margin: 0;
    padding: 0;
    width: 527px;
}

section .highlights .hightext h6{
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    width: 527px;
    margin-top: 10px;
}

section .highlights .hightext p{
    width: 415px;
    height: 93px;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
    line-height: 30px;
}



/*end of highlights-----------------------*/



/*article join us-----------------------*/

#articleWrap{
    width: 100%;
    height: 1000px;
    background-color: #000;
}

article{
    width: 1920px;
    height: 1000px;
	margin: 0 auto;
    background-image: url(../images/join_background.png);
}

article .join{
    width: 1220px;
    height: 531px;
	margin: 0 auto;
    padding: 445px 0;
    box-sizing: border-box;
}

article .join ul {
    display: flex;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	overflow: hidden;
}

article .join ul li{
    margin-left: 25px;
	margin-top:-330px;
	transition : 0.3s;
}

article .join ul li:hover{
    margin-top:0px;
}

article .join ul li:first-child{
    margin-left: 0;
}


article .join ul li .joinimg{
    width: 283px;
    height: 330px;
}

article .join  ul li img{
    width: 283px;
    height: 330px;
}

article .join ul li h3{
    font-size: 48px;
    font-weight: 300;
    margin: 10px 0 5px 0 ;
    padding: 0;
}

article .join ul li h5{
    font-size: 35px;
    font-weight:300;
    margin: 0;
    padding: 0;
}

article .join ul li .joinhovertext p{
    width: 280px;
    height: 120px;
    font-size: 16px;
    font-weight: 100;
    margin-top: 30px;
    line-height: 23px;
    overflow: hidden;
}

article .join ul li .joinhovertext{
    width: 283px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 가로 중앙 */
    align-items: center;     /* 세로 중앙 */
    text-align: center;     
}

article .join ul li a{
    color: #fff;
}

article .join ul li .jointext{}

article .join ul li .afflicate, .student{
    text-align: right;
}

/*end of article join us-----------------------*/




/*footer-----------------------*/

footer{
    width: 100%;
    height: 352px;
    background: url('../images/footer_background.png') no-repeat center/cover;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding-bottom: 0;
}


footer .inner {
    display: block;    /* 명시적으로 블록 성질 부여 */
    width: 1220px;     /* 가로폭 고정 */
    margin: 0 auto;    /* 중앙 정렬 */
    overflow: hidden;  /* 자식 요소들이 float일 경우 높이값을 잡기 위해 필요 */

}

footer .left{
    float: left;
    margin: 50px 0;
}


footer .footerlogo{
    width: 281px;
    height: 22px;
    margin-bottom: 45px;
}

footer .footermenu{
    width: 480px;
    height: 30px;
    display: flex;
    margin: 0 0 15px 0;
    padding: 0;
}


footer .footermenu li a{
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 0 15px;
    font-weight: 600;
    font-size: 17px;
}

footer .footermenu li:first-child a{
    width: 100%;
    padding-left: 0;
    cursor: pointer;
}

footer .footermenu li a:hover{
    color: gray;
}

/* footer .footercontents{
    position: absolute;
    top:150px;
    left:367px; 
} */

footer .footercontents p{
    margin: 10px 0
}

footer .footercontents .with{
    margin-top: 27px;
}

.with img{
    width: 391px;
    height: 31px;
}

/* footer .footercontents2{
    position: absolute;
    top:194px;
    right:348px;
} */

footer .footercontents2 p{
    margin: 0;
    padding: 0;
}

footer .footercontents2 ul {
    
    height: 29px;
    margin-top: 8px;
    display: inline-block;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

footer .footercontents2 ul li{
    display: inline-block;
}

footer .footercontents2 ul li img{
    display: block;
    width: 29px;
    height: 29px;
    margin-top:8px;
    margin-left:10px;
}

footer .right{
    float: right;
    margin-top: 221px;
    text-align: right;
}



/*end of footer-----------------------*/



/*top button-----------------------*/

.top{
    width: 65px;
    height: 65px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 10000;
    display: block;
}


/*end of top button-----------------------*/
